@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* box-sizing: border-box; helps maintain consistency with widths and padding. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(350deg, #000000 50%, #0F172A 70%, #294957 100%);
    color: white;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.marquee {
    height: 41px;
}

.header {
    width: 95%;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    padding: 20px 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

.c1odj {
    padding: 0 30px;
}

.cgwd6 {
    width: 2.5rem;
}

.button {
    color: white;
    background-color: #259DA8;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 5px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
}

/* Glow Effect */
.button:hover {
    color: #fff;
    background-color: #1b7f87;
    box-shadow: 0px 0px 15px rgba(37, 157, 168, 0.8);
}

/* Border Animation */
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
}

.button:hover::before {
    opacity: 1;
    transform: scale(1);
}

a {
    text-decoration: none;
}

img {
    pointer-events: none;
}

.hero-container {
    width: 90%;
    max-width: 100%;
    /* Centers horizontally */
    margin: 20px auto;
    padding: 20px;
    /* Faint sky blue */
    background-color: rgba(0, 192, 255, 0.1);
    border-radius: 10px;
}

.hero-container h1 {
    margin-top: 15px;
    padding: 10px;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.p-shine {
    font-size: 1rem;
    text-align: center;
    /* Ensures inline centering */
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

@-moz-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

.connect-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.connect-item {
    background-color: transparent;
    text-align: center;
}

.connect-item h5 {
    font-weight: bold;
}

.wallet-icon {
    font-size: 3rem;
    color: transparent;
    /* Outline effect */
    -webkit-text-stroke: 3px white;
    padding: 10px;
}

.button-shine {
    margin: 20px auto;
    cursor: pointer;
    padding: 12px 1rem;
    /* Increase horizontal padding */
    display: flex;
    font-size: 1em;
    /* Allow text to determine width */
    width: auto;
    /* Ensure enough space */
    min-width: 180px;
    /* Fixed height for consistency */
    height: 50px;
    color: white;
    background: radial-gradient(circle at bottom, rgba(27, 142, 205, 0.5) 30%, #259DA8 70%);
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 0.5em;
    outline: 0.1em solid #353535;
    border: 0;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    /* Space between icon and text */
    position: relative;
    font-weight: bold;
}

.button-shine:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: radial-gradient(circle at bottom, rgba(50, 100, 180, 0.5) 10%, #212121 70%);
    outline: 0;
}

.icon {
    fill: white;
    width: 1.2em;
    /* Increase size slightly */
    height: 1.2em;
    margin-right: 0.5rem;
    /* Adjust space between icon and text */
}

.loader {
    scale: 3;
    height: 50px;
    width: 40px;
    margin: 50px auto;
}

.box {
    position: relative;
    opacity: 0;
    left: 10px;
}

.side-left {
    position: absolute;
    background-color: #218791;
    width: 19px;
    height: 5px;
    transform: skew(0deg, -25deg);
    top: 14px;
    left: 10px;
}

.side-right {
    position: absolute;
    background-color: #218791;
    width: 19px;
    height: 5px;
    transform: skew(0deg, 25deg);
    top: 14px;
    left: -9px;
}

.side-top {
    position: absolute;
    background-color: #5fa8f5;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    transform: skew(-20deg, -20deg);
}

.box-1 {
    animation: from-left 4s infinite;
}

.box-2 {
    animation: from-right 4s infinite;
    animation-delay: 4s;
}

.box-3 {
    animation: from-left 4s infinite;
    animation-delay: 4s;
}

.box-4 {
    animation: from-right 4s infinite;
    animation-delay: 3s;
}

@keyframes from-left {
    0% {
        z-index: 20;
        opacity: 0;
        translate: -20px -6px;
    }

    20% {
        z-index: 10;
        opacity: 1;
        translate: 0px 0px;
    }

    40% {
        z-index: 9;
        translate: 0px 4px;
    }

    60% {
        z-index: 8;
        translate: 0px 8px;
    }

    80% {
        z-index: 7;
        opacity: 1;
        translate: 0px 12px;
    }

    100% {
        z-index: 5;
        translate: 0px 30px;
        opacity: 0;
    }
}

@keyframes from-right {
    0% {
        z-index: 20;
        opacity: 0;
        translate: 20px -6px;
    }

    20% {
        z-index: 10;
        opacity: 1;
        translate: 0px 0px;
    }

    40% {
        z-index: 9;
        translate: 0px 4px;
    }

    60% {
        z-index: 8;
        translate: 0px 8px;
    }

    80% {
        z-index: 7;
        opacity: 1;
        translate: 0px 12px;
    }

    100% {
        z-index: 5;
        translate: 0px 30px;
        opacity: 0;
    }
}

.messageBox {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
    margin: 20px auto;
}

.messageBox:focus-within {
    border: 1px solid rgb(110, 110, 110);
}

.fileUploadWrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fileUploadWrapper label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fileUploadWrapper label svg {
    height: 18px;
}

.fileUploadWrapper label svg path {
    transition: all 0.3s;
}

.fileUploadWrapper label svg circle {
    transition: all 0.3s;
}

.fileUploadWrapper label:hover svg path {
    stroke: #fff;
}

.fileUploadWrapper label:hover svg circle {
    stroke: #fff;
    fill: #3c3c3c;
}

.fileUploadWrapper label:hover .tooltip {
    display: block;
    opacity: 1;
}

#messageInput {
    width: 210px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
}

#messageInput:focus~#sendButton svg path,
#messageInput:valid~#sendButton svg path {
    fill: #3c3c3c;
    stroke: white;
}

#sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

#sendButton svg {
    height: 18px;
    transition: all 0.3s;
}

#sendButton svg path {
    transition: all 0.3s;
}

#sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
}

.line {
    /* Makes the span behave like a div */
    display: block;
    /* Adjust the width as needed */
    width: 95%;
    /* Line thickness */
    height: 1px;
    /* Line color */
    background: linear-gradient(to right, #259DA8, #6c6c6c);
    /* Spacing above and below */
    margin: 20px auto;
}

.svg-frame-container {
    width: 90%;
    max-width: 100%;
    background-color: transparent;
    margin: 40px auto;
    padding: 20px 0px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.svg-frame-container:hover {
    box-shadow: 0px 8px 20px rgba(39, 125, 223, 0.5);
}

.svg-frame-container h5 {
    text-align: center;
    margin-top: -30px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: large;
}

.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: -40px;
}

.svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
}

#inner3,
#inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}

/* Grid container: 3 columns on larger screens */
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 90%;
    margin-top: 80px;
}

/* Service item styling */
.services-item {
    background-color: rgba(164, 222, 240, 0.1);
    margin: 0 auto;
    padding: 30px 0;
    /* Let the grid cell control the width */
    width: 100%;
    display: flex;
    /* Stack image and text vertically */
    flex-direction: column;
    align-items: center;
    /* Center content horizontally */
    justify-content: center;
    /* Center content vertically if needed */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

/* Image styling */
.services-item img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

/* Heading styling */
.services-item h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
    margin: 0 10px;
    padding-top: 10px;
}

.wallets-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #0F172A;
    margin: 20px auto;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wallets-logo h1 {
    font-weight: bolder;
    font-size: medium;
    padding-top: 30px;
}

.wallets-logo img {
    width: 10%;
    margin-top: -20px;
}

.parent {
    width: 300px;
    padding: 20px;
    perspective: 1000px;
    margin: 20px auto;
}

.card {
    padding-top: 50px;
    /* border-radius: 10px; */
    border: 1px solid grey;
    transform-style: preserve-3d;
    background: linear-gradient(135deg, #0000 18.75%, #464141 0 31.25%, #0000 0),
        repeating-linear-gradient(45deg, #2a2424 -6.25% 6.25%, grey 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: grey;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
    background: rgba(0, 13, 17, 0.918);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
}

.content-box .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: snow;
    /* border-radius: 5px; */
    background: radial-gradient(circle at bottom, rgba(27, 142, 205, 0.5) 30%, #259DA8 70%);
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
}

.date-box {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 65px;
    background: radial-gradient(circle at bottom, rgba(27, 142, 205, 0.5) 30%, #259DA8 70%);
    ;
    border: 1px solid rgb(7, 185, 255);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
    display: block;
    text-align: center;
}

.date-box .month {
    color: snow;
    font-size: 9px;
    font-weight: 700;
}

.date-box .date {
    font-size: 20px;
    font-weight: 900;
    color: snow;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 40px;
    ;
    padding-left: 10px;
    justify-content: start;
    border: 1px solid rgb(30, 28, 28);
    color: #a8b6bc;
}

@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}

.bottom-loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
    margin-top: 100px;
}

.bottom-loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #3ca1ae;
    animation: loading-bounce 3s ease-in-out infinite alternate;
}

.bottom-loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 6s ease-in-out infinite;
}

@keyframes loading-bounce {
    0% {
        transform: scale(1, 0.7);
    }

    40% {
        transform: scale(0.8, 1.2);
    }

    60% {
        transform: scale(1, 1);
    }

    100% {
        bottom: 140px;
    }
}

@keyframes loading-step {
    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2;
    }

    100% {
        box-shadow: 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
    }
}

/* Larger screens (optional customization) */
@media (min-width: 992px) {
    .hero-container {
        /* Reduce gap between columns */
        width: 60%;
    }
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
    .button {
        padding: 8px 5px;
    }
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
    .connect-container {
        /* 2 columns */
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small screens (phones) */
@media (max-width: 576px) {
    .connect-container {
        /* 1 column */
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

/* Hide Line for devices above 575px screens (phones) */
@media (min-width: 576px) {
    .line {
        display: none !important;
    }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 350px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Responsive adjustments for small screens */
@media screen and (min-width: 351px) and (max-width: 768px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small screens (tablets) */
@media (max-width: 576px) {
    .wallets-logo img {
        width: 25%;
        margin-top: -20px;
    }
}

/* Small screens (tablets) */
@media (max-width: 576px) {
    .footer {
        justify-content: center;
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1D465B;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ensure it's above other content */
    z-index: 9999;
}

/* Optional: Add a fade-out transition */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 6.2em;
    }

    /* adjust width based on content */
    90%,
    100% {
        width: 0;
    }
}

.terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 12em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
}

.terminal-controls {
    float: right;
}

.control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
}

.control.close {
    background-color: #e33;
    width: 10px;
    height: 10px;
    margin-top: 6px;
}

.control.minimize {
    background-color: #ee0;
}

.control.maximize {
    background-color: #0b0;
}

.terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
}

.text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green;
    /* Cursor */
    animation:
        typeAndDelete 4s steps(11) infinite,
        blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
}